<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/style.css">
    </head>
    
    <body>
        <nav id="navbar">
            <a href="#welcome-section">About</a>
            <a href="#projects">Projects</a>
            <!--<a href="#">Work Other</a>-->
            <a href="#contact_info">Contact</a>
        </nav>
          
        <main>
            <section id="welcome-section">
                <h1>Hi this is Norman</h1>
                <div id="about_text">
                    <p>Welcome to my personal portfolio.</p>
                    <p>My past work has focussed on several areas: Structural Engineering, Applied Mathematics, Applied Mechanics, Facade Engineering, and Software Development.</p>
                    <p>Inspiration for this page: BSOD</p>
                </div>
            </section>
            <section id="projects">
                <h2>Here are some web projects</h2>
                <div id="project_container">
                    <div class="project-tile" >
                        <a href="https://codepen.io/Mormonorman/full/mdrxBGa" target="_blank">
                            <img src="https://assets.codepen.io/5526280/internal/screenshots/pens/mdrxBGa.default.png?fit=cover&format=auto&ha=true&height=540&quality=75&v=2&version=1609807879&width=960"/>
                            <p>FCC: Landing Page</p>
                        </a>
                    </div>
                    <div class="project-tile" >
                        <a href="https://codepen.io/Mormonorman/full/OJRZRoO" target="_blank">
                            <img src="https://assets.codepen.io/5526280/internal/screenshots/pens/OJRZRoO.default.png?fit=cover&format=auto&ha=false&height=540&quality=75&v=2&version=1609902133&width=960"/>
                            <p>FCC: Technical documentation</p>
                        </a>
                    </div>
                    <div class="project-tile" >
                        <a href="https://codepen.io/Mormonorman/full/yLaKXyM" target="_blank">
                            <img src="https://assets.codepen.io/5526280/internal/screenshots/pens/yLaKXyM.default.png?fit=cover&format=auto&ha=false&height=540&quality=75&v=2&version=1609664549&width=960"/>
                            <p>FCC: Survey Form</p>
                        </a>
                    </div>
                    <div class="project-tile" >
                        <a href="https://codepen.io/Mormonorman/full/xxEYyVr" target="_blank">
                            <img src="https://assets.codepen.io/5526280/internal/screenshots/pens/xxEYyVr.default.png?fit=cover&format=auto&ha=false&height=540&quality=75&v=2&version=1609455071&width=960"/>
                            <p>FCC: Tribute page</p>
                        </a>
                    </div>
                </div>
                <p>View my FCC progress <a id="profile-link" href="https://www.freecodecamp.org/fcc21752981-84f1-47db-a786-eea26f47141e" target="_blank">here</a></p>
            </section>
            <section id="contact_info">
                <div id="contact_container">
                    <p>Find me on:</p>
                    <a href="#" target="_blank">LinkedIn</a>
                    <a href="#" target="_blank">Email</a>
                    <a href="#" target="_blank">GitHub</a>
                    <p>Other resources:</p>
                    <a href="#" target="_blank">Resume</a>
                    <a href="https://open.uct.ac.za/handle/11427/11986" target="_blank">Master Thesis</a>
                    <a>1</a>
                </div>
            </section>
        </main>
    </body>
</html>




