@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  background-color: #1436b0;
}

nav{
  width:100%;
  position: fixed;
  display: flex;
  justify-content: flex-end
}

nav a{
  text-decoration:none;
  color: white;
  margin: 10px;
}

nav a:hover{
  text-decoration: underline;
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  max-width:100%;
  max-height: 100%;
  margin:0px;
  color: white;
}

#welcome-section h1{
  background-color: white;
  color:#1436b0;
  padding: 5px;
}

#projects{
  display:flex;
  flex-direction: column; 
  width:100vw;
  min-height:100vh;
  max-width:100%;
  color: white;
}

#project_container{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  max-width:100%; //prevents overflow with width in vw
  height: auto;
  margin:0 auto;  //centers the container
}

.project-tile{
  width: 32%;
  height: auto;
  border-left: solid 1px;
  border-color: white;
  margin: 5px 0px 5px 0px;
  padding-left: 5px;
}

.project-tile p{
  margin: 0px 0px 5px 0px;
}

.tag-container{
  display: flex;
  justify-content:left;
  align-items: center;
  flex-wrap: wrap;
}

.tag{
  padding: 0px;
}

@media(max-width:800px){
    .project-tile{
      width: 49%;
  }
}

@media(max-width:530px){
    .project-tile{
      width: 99%;
  }
}

.project-tile img{
  width: 100%;
  height: auto;
}

.project-tile a{
  text-decoration:none;
  color: white;
}

.project-tile a:hover{
  text-decoration: underline;
}

h2 {
  color: white;
}

#contact_info{
  display:flex;
  flex-direction: column; 
  justify-content: space-around;
  width:100vw;
  height:100vh;
  max-width:100%;
  color: white;
}

#contact_info a{
  text-decoration:none;
  color: white;
  margin: 10px;
}

#contact_info a:hover{
  text-decoration: underline;
}

#profile-link {
  text-decoration:none;
  color: white;
}

#profile-link:hover{
  text-decoration: underline;
}